html{
    color: grey;
    background-color: rgb(243, 243, 243);
    font-family: century gothic;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
}
nav, .menu{
    background-color: rgba(243, 243, 243, .15);
    padding: 1%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px;
}
header,footer{
    text-align: center;
    padding: 5px;
    color:grey;
}
header a, header p, footer a,footer p{
    color:darkgrey;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
header h1{
    color:darkgrey;
}
header a:hover, footer a:hover{
    color:grey;
    transform: scale(1.02);
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:3%
}
main .item{
    background-color:lightgrey;
    width:330px;
    text-align: center;
    padding:1%;
    margin:2%
}
main .item img{
    border: 2px rgb(233, 233, 233) solid;
    text-align: center;
}
main .item img:hover{
    transform: scale(1.15);
}
main .item h2{
    font-style: italic;
}
.me{
    text-align: center;
    position: absolute;
    top:35%;
    left:13%;
}
.me a,.me p, .contact a,.contact p{
    font-size: 25px;
}
.contact{
    text-align: center;
    position: absolute;
    top:30%;
    left:30%;
}
.me a, .contact a{
    color:gray;
    font-weight: bold;
    text-decoration: none;
}
.me a:hover, .contact a:hover{
    color:darkgrey;
}

address{
    font-size: larger;
}




#camel img,#camel{
    border: #FCDB61 solid;
}
#chameleon img,#chameleon{
    border: #CDDC26 solid;
}
#cicada img,#cicada{
    border: #EEA954 solid;
}
#panda img,#panda{
    border: #4D516A solid;
}
#pigeon img,#pigeon{
    border: #53C4CC solid;
}
#teddy img,#teddy{
    border: #FEC580 solid;
}